body{
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

#btnAdd{
	background-color: #9bca3d;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: 700;
}