<div class="navbar" id="navbar">
	Para instalar en tu móvil haz tap en <img style="width: 15px;" src="assets/ios/share.png"/> y selecciona la opción "agregar a home screen"
</div>
<div style="text-align:center;" [style.margin-top]="getMarginTop()" [style.margin-bottom]="getMarginBottom()" >
  <h1>
   ¡Bienvenido a nuestra app progresiva!
  </h1>
  <img width="300" alt="Techie Logo" src="assets/techie-normal-fuente.png">

<h2>Somos Impacto Tecnológico</h2>
<button id="btnAdd"><i class="fas fa-mobile-alt"></i> Instalar</button>
<router-outlet></router-outlet>
</div>
<footer class="footer" id="footer">
	Para instalar en tu móvil haz tap en <img style="width: 15px;" src="assets/ios/share.png"/> y selecciona la opción "agregar a home screen" 
</footer>
