body{
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	margin: 0px !important;
}

#btnAdd{
	background-color: #9bca3d;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: 700;
}

.footer {
	position: fixed; 
	bottom: 0;
	width: 100%;
	background-color:#f1eded;
	color: black;
	text-align: center;
	left: 0;
	right: 0;
	padding: 10px 0px 10px 0px;
	letter-spacing: 2px;
}

.navbar {
	left: 0;
	right: 0;
	padding: 10px 0px 10px 0px;
	letter-spacing: 2px;
	overflow: hidden;
	background-color:#f1eded;
	color: black;
	text-align: center;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
  }